.brand {
    display: inline-block;
    font-family: 'Lato';
    text-transform: uppercase;
    text-align: center;
    color: inherit;
    &__logo {
        width: 24px;
        height: 24px;   
    }
    &__name {
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 2;
    }
    &__text {
        font-size: 0.4rem;
        font-weight: 400;
    }
}