/* asap-regular - latin */
@font-face {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    src: local('Asap Regular'), local('Asap-Regular'),
         url('../fonts/Asap/asap-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Asap/asap-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* asap-500 - latin */
  @font-face {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    src: local('Asap Medium'), local('Asap-Medium'),
         url('../fonts/Asap/asap-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Asap/asap-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* asap-600 - latin */
  @font-face {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    src: local('Asap SemiBold'), local('Asap-SemiBold'),
         url('../fonts/Asap/asap-v11-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Asap/asap-v11-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* asap-700 - latin */
  @font-face {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 700;
    src: local('Asap Bold'), local('Asap-Bold'),
         url('../fonts/Asap/asap-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Asap/asap-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'),
         url('../fonts/Lato/lato-v16-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Lato/lato-v16-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-regular - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/Lato/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Lato/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }