.header {
    background-color: #E0E0E0;
    background-image: url("../image/header/bg.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    min-height: 100vh;
    & .container {
        overflow: hidden;
    }
    &__inner {
        padding-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}
@media (max-width: 767px) {
    .header {
        padding-bottom: 10px;
    }
}
@media (max-width: 575px) {
    .header {
        padding-bottom: 0;
    }
}